fastapi
uvicorn
python-dotenv
pymongo
motor
pydantic[email]
razorpay
requests
google-generativeai
chromadb
sentence-transformers
python-multipart
passlib[bcrypt]
bcrypt==4.2.1
pyjwt
python-jose[cryptography]
gunicorn
pytesseract
pdf2image
PyPDF2
python-docx
